{% extends 'base.html.twig' %}

{% block title %}Nos Produits - E-commerce Web Site{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2">
            <h2 style="color: #00580a;">Filtrer.</h2>
            {{ form_start(form) }}
                {{form_row(form.string)}}
                {{form_row(form.categories)}}
                <input type="submit" class="btn btn-dark btn-block btn-sm" value="Rechercher">
            {{ form_end(form) }}
        </div>
        <div class="col-md-10">
          <div class="col-6 offset-3 mt-2 mb-5" style="color: #00580a;">
              <h2 class="text-center">Nos Produits.</h2>
          </div>
          <div class="row">
              {% for product in products %}
          <div class="col-md-4">
             {#<div class="product-item text-center">
                <a href="{{ path('product', {'slug' : product.slug }) }}">
                <img src="{{ asset('uploads/' ~ product.illustration) }}" alt="{{ product.name }}" width="200px" height="200px" class="img-fluid mb-3" /></a>
               <h5 style="color: #00580a; font-size: 18px; margin-bottom: 1px; margin-top: 15px">{{ product.name | upper }}</h5>
               <span style="font-size: 14px;font-weight: bold;  margin-top: 3px"">Prix : {{ (product.price /100) | number_format(2, ',', '')}} €</span>
               <p></p>
              </div>#}
             {% include 'product/single_product.html.twig' %}
           </div>
                {% endfor %}
            </div>
            <div class="navigation mt-3 mb-5">
                {#{{ knp_pagination_render(products) }}#}
            </div>
        </div>
    </div>
{% endblock %}

