{% extends 'base.html.twig' %}

{% block title %}Valider la commande - The Shop{% endblock %}

{% block body %}
<h2 class="text-center colors mb-5" style=";">Passer la commande.</h2>
 <p class="text-center colors">Choisissez vos préférences avant de passer commande sur la Boutique    Française.</p>
 <div class="row">
    <div class="col-md-6 text-center">
        {% set formHtml %}
            {{ form_start(form, {action:path('order_recap')}) }}
                {{ form_label(form.addresses, 'Votre adresse de livraison.') }}
                <a href="{{ path('account_address_add') }}" class="btn btn-dark btn-sm">Ajouter une nouvelle adresse.</a>
            {{ form_end(form) }}

        {% endset %}
		
        <div style="text-align: left;">
            {{ formHtml|replace({'[br]' : '<br />'})|raw }}
        </div>
        
    </div>
    <div class="col-md-6 mt-3">
        <p class="cmde mb-5" style="color: #00580a;">Récapitulatif de ma commande.</p>
        <div class="order-summary">
        {% for key,product in cart %}
            <div class="row {% if key > 0 %}mt-2{% endif %}">
                <div class="col-2 mb-2">
                   &nbsp;&nbsp; <img src="{{ asset('uploads/' ~  product.product.illustration) }}" alt="{{ product.product.name }}" height="60px"/>
                </div>
                <div class="col-8 my-auto">
                    &nbsp;&nbsp;{{ product.product.name }} <br />
                </div>
                <div class="col-2 my-auto">
                    x {{ product.quantity }}
                </div>
                <div><p></p></div>
            </div>
        {% endfor %}
        </div>
        <a href="{{ path('cart') }}" class="btn btn-dark btn-block btn-sm mt-5">Retour vers le panier</a>
    </div>

{% endblock %}
